h1{
    text-align: center;
    
}

form{
    text-align: center;
}

.claseformulario{
    margin-bottom: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
}

#button{
    font-size: 23px;
}